In [6]:
names={'harry':88,
      'kashi':99,
      'muskan':77}

In [7]:
print (names)

{'harry': 88, 'kashi': 99, 'muskan': 77}

# updating dictionary

In [8]:
names['kashi']=88

In [9]:
print(names)

{'harry': 88, 'kashi': 88, 'muskan': 77}

In [10]:
number = int(input ('enter the marks'))

ValueError: invalid literal for int() with base 10: ''

In [ ]:
if (number >=90):
    grade ='A'
elif (number >=70 ):
    grade='B'
else:
    grade='do not know'
    print ('the grade is ',grade)

In [ ]:
number = int(input ('enter the marks'))
if (number >=90):
    grade ='A'
elif (number >=70 ):
    grade='B'
else:
    grade='do not know'

enter the marks77

In [ ]:
print(grade)

B

# running for loop

In [ ]:
no= int (input("eneter the no:"))
for i in range(0,no):
    print(i)

eneter the no:4
0
1
2
3

# doing iteration in list

In [ ]:
item = ['list1','list2','list3']
for list in item:
    print (list)

list1
list2
list3

# loop in loop

In [ ]:

item = [[1,2],[1,2],[1,3]]
for list in item:
    for i in list:
        print (i)

1
2
1
2
1
3

# while loop

In [ ]:
no= int(input("enter the no="))
while (no>=4):
    print ("no is ok ",no)
    no=int(input())
    if (no==9):
        print('no is end',no)
        break

enter the no=4
no is ok  4
8
no is ok  8
9
no is end 9

# average fuction

In [ ]:
def avg(a,b):
    return (a+b)/2

In [ ]:
avg(2,3)

2.5

# string slicing

In [ ]:
string = 'ksk'
print (string [:1])

k

In [ ]:
string.capitalize() # first latter will be capitalize

'Ksk'

In [ ]:
print(string.find('Ksk'))

-1

In [ ]:
print(string.replace('Ksk','l'))

ksk

# i/o file

# open file

In [ ]:
file = open("harry.txt",'r+')
text_to_read=file.read()
print(text_to_read)

FileNotFoundError: [Errno 2] No such file or directory: 'harry.txt'

# oops

In [ ]:
class employ:
    _name=None # mean private variabel can not be acces from outside of it 
    _id=0
    _salary=0
    
    def _init_(self):        # making constructor 
    def set_name(self,name):
        self._name=name
    def get_name(self):
        return self._name
        
    def set_name(self,id):
        self._id=id
        
    def get_id(self,name):
        return self._id
        
             
    def salary_name(self,salary):
        self._salary=salary
        
furqan =employ ('furqan',444,33343)
print(furqan.get_name('furqan')

IndentationError: expected an indented block (4140400012.py, line 7)